<!DOCTYPE html>

<head>
  <title>Covid Notifier</title>
</head>

<body>


  <div id='passwordSection' style="padding-top:5%; padding-left: 5%; text-align: center;">
    <h3>password please</h3>
    <input type="password" id="password" class='input'>
    <span id="unauthorized" class="text-warning" style="display: none;">Galat Jawaab!</span>
  </div>

  <div id='mainSection' style="display: none; text-align: center;">
    <span>
      <input type="checkbox" id="soundToggle" name="enableSounds" value="enableSounds">
      <label for="enableSounds">Audio Notifications</label>
    </span>
    <span>
      <input type="checkbox" id="emailToggle" name="enableEmails" value="enableEmails">
      <label for="enableEmails">Email Notifications</label>
    </span>
    <br /><br /><br />
    <span>
      Add new email: &nbsp<input type=text placeholder="add email" id="addEmail" class="input">
    </span>
    <br /><br />
    <span>
      Remove email: &nbsp<input type=text placeholder="remove email" id="removeEmail" class="input">
    </span>
  </div>

  <script>
    let serverURL = 'http://localhost:8080';
    const authorizationAlert = 'Please authorize yourself once again';

    let pwdField = document.querySelector('#password');
    let addEmailField = document.querySelector('#addEmail');
    let removeEmailField = document.querySelector('#removeEmail');
    let enableSoundsCheck = document.querySelector('#soundToggle');
    let enableEmailsCheck = document.querySelector('#emailToggle');
    enableEmailsCheck.checked = true;
    enableSoundsCheck.checked = true;

    let pwdDiv = document.querySelector('#passwordSection');
    let mainDiv = document.querySelector('#mainSection');
    let wrongPassword = document.querySelector('#unauthorized');

    let getPostRequestOptions = (body) => {
      if(body) body = JSON.stringify(body);
      //else body = {};
      return {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: body
      }
    }

    function handleErrors(response) {
      if (!response.ok) {
        throw Error(response.statusText);
      }
      return response.json();
    }

    // check if it is good to go without password:
    fetch(`${serverURL}/api/authorizeBypass`, getPostRequestOptions())
    .then(handleErrors)
    .then(data => {
      if(data.success) {
        pwdDiv.style.display = 'none';
        mainDiv.style.display = 'block';
      }
    })


    pwdField.addEventListener('keydown', e => {
      if (e.key === 'Enter') {
        fetch(`${serverURL}/api/authorize`, getPostRequestOptions({
          password : pwdField.value
        }))
        .then(handleErrors)
        .then(data => {
          if(data.success) {
            pwdDiv.style.display = 'none';
            mainDiv.style.display = 'block';
          } else {
            wrongPassword.style.display = 'block';
          }
        }).catch(function(error) {
          window.location.reload();
        });
      }
    });

    addEmailField.addEventListener('keydown', e => {
      if (e.key === 'Enter') {
        fetch(`${serverURL}/api/secured/addNewEmail`, getPostRequestOptions({
          email: addEmailField.value
        }))
        .then(handleErrors)
        .then(data=> {
          if(data.success) window.alert(data.message);
        }).catch(function(error) {
          window.location.reload();
        });
      }
    });

    removeEmailField.addEventListener('keydown', e => {
      if (e.key === 'Enter') {
        fetch(`${serverURL}/api/secured/unsubscribeEmail`, getPostRequestOptions({
          email: removeEmailField.value
        }))
        .then(handleErrors)
        .then(data=> {
          if(data.success) window.alert(data.message);
        }).catch(function(error) {
          window.location.reload();
        });
      }
    });

    enableEmailsCheck.addEventListener('change', e => {
      fetch(`${serverURL}/api/secured/toggleEmailAlerts`, getPostRequestOptions({
        enableEmails: enableEmailsCheck.checked
      }))
      .then(handleErrors)
      .then(data => {
        if(!data.success) enableEmailsCheck.checked = !enableEmailsCheck.checked;
      }).catch(function(error) {
        window.location.reload();
      });
    });

    enableSoundsCheck.addEventListener('change', e => {
      fetch(`${serverURL}/api/secured/toggleSoundAlerts`, getPostRequestOptions({
        enableSounds: enableSoundsCheck.checked
      }))
      .then(handleErrors)
      .then(data => {
        if(!data.success) enableSoundsCheck.checked = !enableSoundsCheck.checked;
      }).catch(function(error) {
        window.location.reload();
      });
    });

  </script>
</body>

</html>